@font-face {
  font-family: 'bold';
  src: url('../fonts/LG_Smart_Bold.ttf');
}
@font-face {
  font-family: 'light';
  src: url('../fonts/LG_Smart_Regular.ttf');
}


body {
	background: url(../images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: visible;
}

img.logo {
	width: 35%;
	max-width: 500px;
	min-width: 500px;
	display: block;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 1;
	margin-top: 20px;
}

div.center {
	display: block;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	width: 55vw;
	height: 100%;
}
img.center {
	display: block;
	position: absolute;
	width: 100%;
	min-width: 600px;
	max-width: 900px;
	margin-top: 500px;
	z-index: 2;
	pointer-events: none;
}
img.center2 {
	display: block;
	position: absolute;
	width: 89.5%;
	min-width: 530px;
	max-width: 800px;
	margin-top: 515px;
	margin-left: 20px;
	z-index: 1;
    filter: brightness(90%);
}
img.center2:hover {
	filter: brightness(100%);
}

h1.large {
	display: block;
	position: absolute;
	float: left;
	font-size: 39px;
	line-height: 35px;
	margin-left: 10%;
	margin-top: 180px;
	font-family: 'bold';
	color: #b9b9b9;
	width: 63%;
	transform: skew(-22deg);
	-ms-transform: skew(-22deg); /* IE 9 */
    -webkit-transform: skew(-22deg);
	padding: 5px;
}
h1.small {
	display: block;
	position: absolute;
	float: left;
	font-size: 20px;
	line-height: 18px;
	margin-left: 10%;
	margin-top: 240px;
	font-family: 'light';
	color: #b9b9b9;
	width: 40%;
	transform: skew(-22deg);
	-ms-transform: skew(-22deg); /* IE 9 */
    -webkit-transform: skew(-22deg);
	padding: 5px;
	background: white;
}

img.mist {
	width: 100%;
	height: 100%;
	z-index: -10;
	position: absolute;
	display: block;
}

div.buttons {
	display: block;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	width: 13vw;
	height: 100%;
	margin-top: 10vw;
}
img.buttons {
		display: inline-block;
	position: absolute;
	width: 70px;
	margin-top: 800px;
	z-index: 2;
	filter: brightness(80%);
}
img.buttons2 {
		display: inline-block;
	position: absolute;
	width: 70px;
	margin-top: 800px;
	margin-left: 100px;
	z-index: 2;
	filter: brightness(80%);
}
img.buttons:hover {
	filter: brightness(100%);
}
img.buttons2:hover {
	filter: brightness(100%);
}

img.logo_small {
	display: block;
	position: absolute;
	margin: auto;
	left: 1;
	right: 0;
	top: 1;
	bottom: 0;
	width: 150px;
	padding: 20px;
	margin-bottom: -400px;
}

div.rules {
	display: block;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
		margin-top: 10vw;
}
h1.rules {
	text-align: center;
	display: inline-block;
	position: absolute;
	margin-top: 920px;
	z-index: 2;
	font-family: 'bold';
	font-size: 35px;
	color: #b9b9b9;
	width: 100%;
	transform: skew(-22deg);
	-ms-transform: skew(-22deg); /* IE 9 */
    -webkit-transform: skew(-22deg);
	background: white;
	padding: 5px;
}
h1.rules:hover {
	text-decoration: underline;
}

@media screen and (max-width: 900px) {


div.center {
	display: block;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	width: 95%;
	height: 100%;
}
img.center {
	display: block;
	position: absolute;
	width: 90%;
	min-width: unset;
	margin-top: 520px;
	z-index: 2;
	pointer-events: none;
	transform: translateX(5%);
	-ms-transform: translateX(5%);/* IE 9 */
    -webkit-transform: translateX(5%);
}
img.center2 {
	display: block;
	position: absolute;
	width: 79.5%;
	min-width: unset;
	margin-top: 535px;
	margin-left: 20px;
	z-index: 1;
	cursor: crosshair;
	transform: translateX(5%);
	-ms-transform: translateX(5%);/* IE 9 */
    -webkit-transform: translateX(5%);
	filter: brightness(100%);
}

h1.large {
	display: block;
	position: absolute;
	float: left;
	font-size: 35px;
	margin-left: 10%;
	margin-top: 180px;
	font-family: 'bold';
	color: grey;
	background: white;
	width: 70%
	transform: skew(-22deg);
	-ms-transform: skew(-22deg); /* IE 9 */
    -webkit-transform: skew(-22deg);
}
h1.small {
	width: 55%;
	background: white;
	transform: skew(-22deg);
	-ms-transform: skew(-22deg); /* IE 9 */
    -webkit-transform: skew(-22deg);
}

div.buttons {
	display: block;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	width: 25vw;
	height: 100%;
	margin-top: 10vw;
}
img.buttons {
		display: inline-block;
	position: absolute;
	width: 70px;
	margin-top: 800px;
	z-index: 2;
}
img.buttons2 {
		display: inline-block;
	position: absolute;
	width: 70px;
	margin-top: 800px;
	margin-left: 100px;
	z-index: 2;
}

img.logo_small {
	display: block;
	position: absolute;
	margin: auto;
	left: 1;
	right: 0;
	top: 1;
	bottom: 0;
	width: 150px;
	padding: 20px;
	margin-bottom: -90vw;
}

}


@media screen and (max-width: 650px) {

img.logo {
	width: 300px;
	max-width: 1500px;
	min-width: unset;
	display: block;
	position: relative;
	margin: auto;
	float: left;
	margin-top: 30px;
	margin-left: -15px;
}


div.center {
	display: block;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	width: 95%;
	height: 100%;
}
img.center {
	display: block;
	position: absolute;
	width: 90%;
	min-width: unset;
	margin-top: 510px;
	z-index: 2;
	pointer-events: none;
}
img.center2 {
	display: block;
	position: absolute;
	width: 80.5%;
	min-width: unset;
	margin-top: 518px;
	margin-left: 10px;
	z-index: 1;
	filter: brightness(100%);
}

h1.large {
	display: block;
	position: absolute;
	float: left;
	font-size: 24px;
	margin-left: 3%;
	margin-top: 120px;
	font-family: 'bold';
	color: grey;
	background: white;
	transform: skew(-22deg);
	-ms-transform: skew(-22deg); /* IE 9 */
    -webkit-transform: skew(-22deg);
	width: 85%
}
h1.small {
	margin-top: 175px;
	margin-left: 0%;
	background: white;
	padding-right: 10px;
	transform: skew(-22deg);
	-ms-transform: skew(-22deg); /* IE 9 */
    -webkit-transform: skew(-22deg);
	width: 85%;
	transform: translateX(5%);
	-ms-transform: translateX(5%);/* IE 9 */
    -webkit-transform: translateX(5%);
}

div.buttons {
	display: block;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	margin-top: 9.5vw;
}
img.buttons {
	display: inline-block;
	position: absolute;
	width: 70px;
	margin-top: 700px;
	margin-left: 30%;
	z-index: 2;
}
img.buttons2 {
		display: inline-block;
	position: absolute;
	width: 70px;
	margin-top: 700px;
	margin-left: 50%;
	z-index: 2;
}

img.logo_small {
	display: block;
	position: absolute;
	margin: auto;
	left: 1;
	right: 0;
	top: 1;
	bottom: 0;
	width: 150px;
	padding: 20px;
	margin-bottom: -120vw;
}

div.rules {
	display: block;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	width: 85%;
	height: 100%;
		margin-top: 10vw;
}
h1.rules {
	text-align: center;
	display: inline-block;
	position: absolute;
	margin-top: 820px;
	z-index: 2;
	font-family: 'bold';
	font-size: 30px;
	color: #b9b9b9;
	width: 100%;
	transform: skew(-22deg);
	-ms-transform: skew(-22deg); /* IE 9 */
    -webkit-transform: skew(-22deg);
}

}

@media screen and (max-height: 550px) {

	img.logo_small {
		display: none;
	}

}
